    <!-- Off Canvas Navigation
    ================================================== -->
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas"> <!--- Off Canvas Side Menu -->
      <img src="img/user.jpg" alt="..." class="img-circle user-img"> <!--- User Icon/Image -->
      <a class="navmenu-brand" href="about-me.html">Hi! I'M Jenn</a> <!--- User Name -->
      <ul class="nav navmenu-nav"> <!--- Menu -->
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about-me.html">About Me</a></li>
        <li><a href="works.html">Works</a></li>
        <li><a href="blog.html">Recent Posts</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul><!--- End Menu -->

      <ul class="social-media"> <!--- User Social Media -->
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Google +</a></li>
        <li><a href="#">Linkend</a></li>
      </ul> <!--- End User Social Media -->
    </div> <!--- End Off Canvas Side Menu -->